@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.grid-container {
  margin: auto;
  padding: 2em;
  position: relative;
}

.card-grid {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.card-grid .front, .card-grid .back {
  padding: 10px;
  text-align: center;
  border: 1px #E09494 solid;
}

.card-grid .front {
  background-color: #FAF9F3;
  font-size: 2.4em;
  font-family: 'Jeju Myeongjo', serif;
  color: #E09494;
  line-height: 80px;
  text-align: center;
}

.card-grid .back {
  background-color: #E09494;
  color: white;
  color: #FAF9F3;
  line-height: 80px;
  text-align: center;
}

body{
  font-family: 'Montserrat', sans-serif;
	margin:0;
  background-color: #FAF9F3;
}
header{
	width:100%;
	background:#E09494;
	height:50px;
	line-height:50px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#FAF9F3;
  border:0;
  font-size:1.4em;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#A5A2A8;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#A5A2A8 1px solid;}
.menu li:hover{display: block;    background:#555357; padding:15px 0 15px 0; border-bottom:#555357 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#FAF9F3;}
.menu ul li a:hover {  color: #FAF9F3; text-decoration:none;}
.menu a{text-decoration:none; color:#FAF9F3;}
.menu a:hover{text-decoration:none; color:#FAF9F3;}

/*.-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}*/

.header-text {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-left: 1em;
  color: #FAF9F3;
  letter-spacing: 1em;
  margin: 0;
}
