@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.grid-container {
  width:80%;
  padding: 20px;
  position: relative;
  margin: 20px auto;
}

.card-grid {
  width: 150px;
  height: 150px;
  margin: 20px;
  display: inline-block;
}

.card-grid .front, .card-grid .back {
  padding: 10px;
  text-align: center;
  border: 1px #EB7077 solid;
  box-shadow: 1px 1px 1px #888888;
}

.card-grid .front {
  background-color: #FCFCFC;
  font-size: 3.4em;
  font-family: 'Jeju Myeongjo', serif;
  color: #EB7077;
  line-height: 135px;
  text-align: center;
}

.card-grid .back {
  background-color: #EB7077;
  color: white;
  color: #FCFCFC;
  line-height: 125px;
  text-align: center;
  font-size: 3.4em;
}

body{
  font-family: 'Roboto', sans-serif;
	margin:0;
  background: #FCFCFC;
  padding: auto;
}
header{
	width:100%;
	background:#EB7077;
	height:20%;
	line-height:50px;
}

.header-text {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding-left: .6em;
  color: #FCFCFC;
  letter-spacing: 1.5em;
  font-size: 1.618em;
  margin: 0;
}

.header-sub-text {
  font-family: 'Roboto', sans-serif;
  padding-left: 1em;
  color: #333333;
  font-size: 1em;
  overflow: auto;
}

.header-sub-container {
  background-color: #A5A2A8;
  max-height: 20%;
  max-width: 100%;
  overflow; auto;
}

.strong {
  font-weight: 700;
  font-famiy: 'Roboto', sans-serif;
}
